# Dependencies directory
node_modules/**/*

.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

# Logs
logs
*.log
.DS_Store

npm-debug.log*

# Optional npm cache directory
.npm

#IDEs
.idea
.vscode

# code testing coverage
coverage

# distribution files
dist

# Database files
.database